@import url("https://fonts.googleapis.com/css?family=Jockey+One:300,400,500i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,500i,700,900,900i");

* {
    margin:0;
    padding:0;


}
body {
    position:relative;
    font-family: "Inter";
        overflow-x:hidden;

}
/* START NAVBAR */
#background-image {
    opacity: 80%;
    position: absolute;
    left: 0;
    top: 0;
    height: 610px;
    min-width: 100%;
z-index:-1;
}
#site-header {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, .7), rgba(255,255,255,.9), rgba(255,255,255, 1));
    position:sticky;
    top:0;
    z-index: 100000;

}
#navbar {
    display:flex;
    width:90%;
    justify-content: space-evenly;
}
#navbar-logo-content {
    display:flex;
    flex-direction:row;
    width:250px;
    padding:20px;
    cursor:pointer;
}
#navbar-logo-image {
    height:45px;

    margin-top:auto;
    margin-bottom:auto;
}
#navbar-logo-text {
    font-weight:bold;
    margin-top:auto;
    margin-bottom:auto;
    font-size:1.6em;
    font-family:"Jockey One";
    line-height: .95;
    margin-left:10px;
}
#navbar-container {
    display:flex;
    width:60%;
    position:relative;
}
.navbar {
    margin-top:auto;
    margin-bottom:auto;
    display:flex;
    justify-content: center;
    height:100%;
    width:100%;
    padding-left:10px;
    padding-right:10px;
}
.navbar-title {
    font-family:"Inter";
font-weight:500;
    font-size:.8em;
    margin-top:auto;
    margin-bottom:auto;
}

#navbar-quote {
    display:flex;
    width:20%;
    justify-content: space-evenly;


}
#navbar-quote-title {
    padding:10px 20px;
    border:1px solid black;
    border-radius:5px;
    background-color:darkorange;
}
#navbar-content {
    width:100%;
    position:fixed;
    background-color:rgba(255,255,255,.9);
    z-index: 10;

}
#navbar-language {
    width:20%;
}
.navbar-language {
    border-bottom:1px solid black;
}
#navbar-languages-mobile {
    display:none;
}
#navbar-team-section {
    display:grid;
    width:80%;
grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    position:relative;
   margin: 30px auto;
justify-content: center;
    text-align: center;

}
.navbar-team-section {
    border:1px solid black;
margin-top:auto;
    margin-bottom:auto;
    padding:40px 20px;
}
.navbar-team-images {
    width:100px;
    height:100px;
    margin-bottom:20px;
}
#navbar-services-section {
    display:grid;
    width:80%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;

    position:relative;
    margin: 30px auto;
    justify-content: center;
}
.navbar-services-subsection {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.navbar-services-subsection p {
    padding:5px;
}
#navbar-languages-section {
    margin-left:auto;
    margin-right:auto;
    font-size:1.8em;
    font-weight:bold;
    padding:20px;

    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    position:relative;

}
.navbar-language-section {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    border:1px solid black;
    position:relative;
    width:300px;
    height:200px;
margin-bottom:30px;
}
.navbar-language-title {
    margin: 20px auto;
    margin-top:40px;
}
.navbar-language-image {
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:0;
    opacity:30%;
}
#navbar-language-image-active {
    width:100%;
}
#navbar-industries-section {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}
.navbar-industries {
    padding: 30px;
}
.navbar-industries img {
    width:50px;
    height:50px;
    margin-bottom:20px;
}
#navbar-locations-section {
    display:grid;
    width:80%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    position:relative;
    margin: 30px auto;
    justify-content: center;
}
.navbar-locations-subsection {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.navbar-locations-subsection p {
    padding:5px;
}
#navbar-about-section {
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    grid-column-gap: 30px;
    margin-left:auto;
    margin-right:auto;
}
.navbar-about {
    padding: 30px;
    border-bottom:1px solid black;
}
#navbar-language-section {
    width:100%;
    display:flex;
    text-align: center;
    flex-direction:column;
}
.navbar-language {
    padding: 20px;
    cursor:pointer;
}
#navbar-languages-mobile-content {
    display:none;
}
.navbar-link {
    border:1px solid black;
    text-align: center;
    width:100px;
    padding:5px 20px;
    margin: 30px auto;
    margin-top:0px;
}


/* END NAVBAR */

/* START INDEX */
/* START INTRO */
#index-intro {
    width:30%;
    height:520px;
    background-image: linear-gradient(to left, rgba(255,255,255,0.3), rgba(255,255,255, .8), rgba(255,255,255,.9), rgba(255,255,255, 1));
align-items: flex-end;
    padding-right:5%;
    display:flex;
    flex-direction:column;
}
#index-intro-title {
    margin-top:20%;
    width:80%;
    font-size:1em;
    text-align: right;
    font-weight:bold;
}
#index-intro-text {
    margin-top:7%;
        width:60%;

    text-align: right;
    font-size:.8em;


}
#index-intro-contact {
    margin-top:10%;
    text-align: center;

}

/* END INTRO */
/* START LANGUAGE SECTION */
#index-language {
    display:flex;
    text-align: center;
    justify-content: end;
    height:450px;

    background: linear-gradient(to right,rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255), rgb(255, 255, 255)),url(../images/language.jpg) left center no-repeat;

}
#index-language-content {
    float:left;
margin-right:5%;
    font-size:1.8em;
    font-weight:bold;
    padding:20px;
    width:400px;
    height:250px;
    margin-top:auto;
    margin-bottom:auto;
    display:grid;
    grid-template-columns: 200px 200px;
    position:relative;

}
.index-language-section {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    border:1px solid black;
    position:relative;

}
.index-language-text {
    z-index:1;

}
.index-language-image {
height:100%;
    width:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:0;
opacity:60%;
}


/* END LANGUAGE SECTION */

/* START SERVICES SECTION */
#index-services {
    display:grid;
    grid-template-columns: 50% 50%;
    position:relative;
    height:800px;


}
.index-services {
    height:100%;
    display:block;
    position:relative;
z-index:0;
    cursor:pointer;
}
#index-written-translations, #index-quality-assurance {
text-align: right;

}
#index-language-classes, #index-spoken-interpretations {
    text-align: left;
}
.index-services-title {
    position:absolute;
    font-size:2em;
    font-weight:bold;
    padding:30px;

}
#index-classes-title {
    top: 0;
    left: 0;
    background: linear-gradient(to top left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,.5), rgb(255, 255, 255),rgb(255, 255, 255));
    border-bottom-right-radius: 20px;
    border-bottom:1px solid black;
    border-right:1px solid black;
}
#index-language-classes {
    background: linear-gradient(to top left, rgba(255,255,255,.2), rgba(255,255,255,.2), rgba(255,255,255,.5), rgb(255, 255, 255)), url("../images/classes.jpg") no-repeat;
    background-size: auto 130%;

    border-top:2px solid black;
    border-left:2px solid black;
}
#index-spoken-title {
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom left, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,.5), rgb(255, 255, 255),rgb(255, 255, 255));
    border-top-right-radius: 20px;
    border-top:1px solid black;
    border-right:1px solid black;
}
#index-spoken-interpretations {

background: linear-gradient(to bottom left, rgba(255,255,255,.2), rgba(255,255,255,.2), rgba(255,255,255,.5), rgb(255, 255, 255)), url("../images/simultaneous.jpg") no-repeat;
    background-size: auto 130%;
border-bottom:2px solid black;
    border-left:2px solid black;
}
#index-quality-title {
    top: 0;
    right: 0;
    background: linear-gradient(to top right, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,.5), rgb(255, 255, 255),rgb(255, 255, 255));
    border-bottom-left-radius: 20px;
    border-bottom:1px solid black;
    border-left:1px solid black;

}
#index-quality-assurance {

background: linear-gradient(to top right,rgba(255,255,255,.2), rgba(255,255,255,.2), rgba(255,255,255,.5), rgb(255, 255, 255)), url("../images/quality.jpg") no-repeat;
    background-size: auto 130%;
border-top:2px solid black;
}
#index-written-title {
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,.5), rgb(255, 255, 255),rgb(255, 255, 255));
    border-top-left-radius: 20px;
    border-top:1px solid black;
    border-left:1px solid black;
}
#index-written-translations {

background: linear-gradient(to bottom right, rgba(255,255,255,.2), rgba(255,255,255,.2), rgba(255,255,255,.5), rgb(255, 255, 255)), url("../images/document.jpg") no-repeat;
    background-size: auto 130%;

border-bottom:2px solid black;
}
.index-services-image {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:60%;

}
/* END SERVICES SECTION */
/* START TEAM SECTION */

#index-team {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    overflow-y: hidden;
    overflow-x:visible;
    margin-top:5%;
    margin-bottom:5%;

}
#index-team-content {
    display:flex;
    width: max-content;
    margin-left:50px;
}
.index-team-card {
    position:relative;
    width:260px;
    height:350px;
    margin-left:100px;
    display:flex;
    flex-direction:column;
    justify-content: end;
    text-align: center;
}

.index-team-card:first-child {
    margin-left:0;
}
.index-team-image{
    position:absolute;
    top:0;
    width:100%;
    z-index:-1;

}
.index-team-name {
padding:20px;
    background-color:rgba(255,255,255,90%);
}
.index-team-position {
    padding:7px 10px;
    font-size:.8em;
    background-color:rgba(255,255,255,50%);
}
/* END TEAM SECTION */
/* START LOCATIONS SECTION */

#index-locations {
    width:100%;
    position:relative;
}
#index-locations-image {
    width:70%;
margin: 5% 15%;
}

/* END LOCATIONS SECTION */
/* START FAQS SECTION */

/* START W3SCHOOLS ACCORDIAN */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* END W3SCHOOLS ACCORDIAN */
#index-faqs {
    margin-top:5%;
    margin-bottom:5%;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
.index-faqs-answer {
 padding:20px;
}

/* END FAQS SECTION */

/* START CONTACT SECTION */

#index-contact {
    margin: 5% auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:80%;

}
#index-contact-info, #index-contact-form {
    padding:20px;
width:40%;
}
#index-contact-info p {
    width:80%;
}
#index-contact-content {
    height:70%;
}
#request-quote-button {
    height: 30%;
    display:flex;
    justify-content: center;
    text-align: center;
}
#request-quote-button h2 {
    padding:20px;
    margin: auto 0;
    border-radius:20px;
    border:1px solid black;
    background-color:mediumaquamarine;
}
#index-contact-form {
    position:relative;
}
#email {
    padding:10px;
    width:80%;
    border:none;
    border-bottom:1px solid black;
}
#subject {
    padding:10px;
    width:80%;
    border:none;
    border-bottom:1px solid black;

}
#message {
    padding:10px;
    width:80%;
    height:100px;
    border-bottom:1px solid black;

}
#submit {
    padding:10px;
    width:80%;
    border:1px solid black;
    background-color:white;
    margin-top:10px;
margin-bottom:10px;
}
#index-contact-form p {
    font-size: .8em;
    padding:10px 0px;
}
/* END CONTACT SECTION */


/* START PROMISE SECTION */

#index-promise {
    display:flex;
    text-align: center;
    justify-content: start;
    height:400px;
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255), rgb(255, 255, 255)),url(../images/meeting.jpg) right bottom no-repeat;
}

#index-promise-content {
    width:40%;
    float:left;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:10%;

}
#index-promise-text {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
/* END PROMISE SECTION */
/* START FOOTER SECTION */
#site-footer {
    width:90%;
    margin: 5% auto;
}
#footer-content {
    display:flex;
    flex-direction:row;
    justify-content: center;

}
#footer-intro {
    width:20%;
}
.footer-sections {
    margin-left:20px;
    width:15%;
}
#footer-logo-text {
    font-weight:bold;
    margin-top:auto;
    margin-bottom:auto;
    font-size:1.6em;
    font-family:"Jockey One";
    line-height: .95;
}
.footer-sections p {
    margin-top:20px;
    font-size: .7em;
}


/* END FOOTER SECTION */

/* REUSEABLE */

.divider-top {
    display:flex;
    width:100%;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.3), rgb(255, 255, 255));
    height:70px;
    margin-top:-70px;
}
.divider-bottom {
    display:flex;
    width:100%;

    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.3), rgb(255, 255, 255));
    height:70px;
    margin-bottom:-70px;
}
.section-title {
    position:relative;
    display:flex;
    text-align: center;
    justify-content: center;
    z-index:2;
}
.section-title h2 {
    position:absolute;
    height:40px;
    top:-25px;
    left:40px;
    padding:5px 10px;
    padding-bottom:0px;
    border:2px solid black;
    background-color:white;
}
.quotebutton {
    padding: 10px 15px;
    background-color:orange;
    text-align: center;
    border:1px solid black;
    width:200px;
}
.mobile {
    display:none;
}
.desktop {
    display:inline-block;
}
/* REUSEABLE END */
@media only screen and (max-width: 1024px) {
.mobile {
    display:inline-block;
}
    .desktop {
        display:none;
    }
    #navbar-logo {
        width:100%;
        border-bottom: 1px solid black;

    }
#navbar-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
width:100%;
    height:60%;

}

.navbar {
}

#navbar-quote {
    position:absolute;
    bottom:20px;
    right:20px;
width:auto;

}

#site-header {
width: 100vw;
    height:100vw;
}


#navbar-language {

    display:none;
}
.navbar {
    padding:0;
}
#navbar-languages-mobile {
    display:inline-block;
    position:absolute;
    bottom: 20px;
    left: 20px;
    padding:10px;
}
#navbar-container, #navbar-quote, #navbar-languages-mobile {
    display:none;
}
#site-header {
    height:auto;
    background-color:white;
}
#navbar {
display:flex;
    justify-content: space-between;
}
#navbar-logo {
    display:flex;
}
#navbar-menu-open {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;

}
#navbar-menu-close, #navbar-sections-close {
    display:none;
    margin-top:auto;
    margin-bottom:auto;
margin-left:auto;
}
#navbar-content {
    width:100%;
    height:100%;
    background-color:rgba(255,255,255);


}
.navbar-content {
    width:100%;

}
#navbar-team-section {
    grid-template-columns: auto;
grid-row-gap:40px;
}
.navbar-team-section {
    padding:10px 20px;
}
.navbar-services-section p {
display:none;
}
    .navbar-services-section h2 {
    }
#navbar-services-section {
    grid-row-gap:40px;
}
    #navbar-languages-section {
        grid-template-columns: auto;
        grid-column-gap: 20px;
        position:relative;

    }
    .navbar-language-section {

        font-size:40px;
        border:1px solid black;
        position:relative;
        width:100%;
       height:auto;
    }
    #navbar-industries-section {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        margin-top:30px;
    }
    .navbar-industries {
        padding:0px 0px;
    }
    #navbar-about-section {
        grid-template-columns: 1fr 1fr;
    }
    #navbar-languages-mobile-section {
        width:100%;
        display:flex;
        text-align: center;
        flex-direction:column;
    }
    #index-intro {
        width: 70%;
    }
    #index-contact {
        flex-direction:column-reverse;

    }
    #index-contact-info, #index-contact-form {
        padding:20px;
        width:80%;
        margin: 0px auto;
    }
    #index-contact-info p {
        width:80%;
    }
    #index-contact-content {
        height:70%;
    }

        #index-services {
    grid-template-columns: auto;
}


.index-services-title {
    font-size:1em;
}
    #index-written-translations, #index-spoken-interpretations, #index-language-classes, #index-quality-assurance {
        background-size: cover;
        background-position:center;
    }
    #footer-content {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
    .footer-sections {
        width:100%;
        margin:0;
        text-align: center;
    }
    .footer-sections p {

    }
    #footer-intro {
        order:5;
        width:100%;
        text-align: center;
        grid-column: 1/-1;
        margin-top:30px;

    }
    #footer-quote > .quotebutton{
        margin:0px auto;
    }


}