#intro {
    width:40%;
    height:520px;
    background-image: linear-gradient(to left, rgba(255,255,255,0.3), rgba(255,255,255, .8), rgba(255,255,255,.9), rgba(255,255,255, 1));
    align-items: flex-end;
    padding-right:5%;
    display:flex;
    flex-direction:column;
}
#intro-title {
    margin-top:20%;
    width:80%;
    font-size:1.5em;
    text-align: right;
    font-weight:bold;
}
#intro-text {
    margin-top:7%;
    width:60%;

    text-align: right;
    font-size:.8em;


}
#intro-contact {
    margin-top:10%;
    text-align: center;

}
.services {
    display:flex;
    text-align: center;
    justify-content: start;
    height:400px;
    width:100%;
}
#book {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/book.jpg) right bottom no-repeat;
}
#movie {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/movie.jpg) right bottom no-repeat;

}
#classes {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/classes.jpg) right center no-repeat;

}
#graduation {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/graduation.jpg) right center no-repeat;

}
#typewriter {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/typewriter.jpg) right center no-repeat;

}
#screening {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/screening.jpg) right center no-repeat;

}
#sound {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/sound.jpg) right center no-repeat;

}
#compliance {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/compliance.jpg) right center no-repeat;

}
#military {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/military.jpg) right center no-repeat;

}
#invention {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/invention.jpg) right center no-repeat;

}
#documents {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/documents.jpg) right center no-repeat;

}
#ads {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/ads.jpg) right center no-repeat;

}
#diversity {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/diversity.jpg) right center no-repeat;

}
#doctor {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/doctor.jpg) right center no-repeat;

}
#medicaldocuments {
    background: linear-gradient(to left,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/medicaldocuments.jpg) right center no-repeat;

}

/* RIGHT */
#poetry {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/poetry.jpg) left bottom no-repeat;

}
#culture {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/culture.jpg) left center no-repeat;

}
#communication {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/communication.jpg) left bottom no-repeat;

}
#essay {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/essay.jpg) left center no-repeat;

}
#studio {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/studio.jpg) left top no-repeat;

}
#dragon {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/dragon.jpg) left center no-repeat;

}
#storyline {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/storyline.jpg) left center no-repeat;

}
#plane {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/plane.jpg) left center no-repeat;

}
#public {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/public.jpg) left center no-repeat;

}
#clients {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/clients.jpg) left center no-repeat;

}
#arbitration {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/arbitration.jpg) left center no-repeat;

}
#clients {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/clients.jpg) left center no-repeat;

}
#arbitration {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/arbitration.jpg) left center no-repeat;

}
#online {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/online.jpg) left center no-repeat;

}
#pills {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/pills.jpg) left center no-repeat;

}
#medicine {
    background: linear-gradient(to right,  rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255), rgb(255, 255, 255)),url(../images/medicine.jpg) left center no-repeat;

}
.services.right {
    display:flex;
    width:100%;
    justify-content: end;

}


.services-content {
    width:40%;
    float:left;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:10%;

}
.services-content.right {
    float:right;
    margin-left:0;
    margin-right:10%;
}

.services-text {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.services-header {
    font-size: 3em;
}
#resources {
    margin-top:5%;
    margin-bottom:5%;
}
#blog-title {
    margin-bottom:20px;
    margin-top:40px;
    margin-left:5%;

}
#blog-container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    overflow-y: hidden;
    overflow-x:visible;
}
#blogs {
    display:flex;
    width: max-content;
    margin-left:50px;
}
.blog-card {
    position:relative;
    width:260px;
    height:100%;
    margin-left:100px;
    display:flex;
    flex-direction:column;
    justify-content: end;
    text-align: center;
    border:1px solid black;

}

.blog-card:first-child {
    margin-left:0;
}
.blog-image{
width:100%;
    z-index:-1;

}
.blog-title {
    padding:20px;
    background-color:rgba(255,255,255,90%);

}

#team-container {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction:column;
    text-align: center;

}
#team {

    width:100%;
}
.team-content {
    display:flex;
    flex-direction:row;
    float:left;
    width:25%;
    margin-right:12.5%;
    margin-top:40px;
}

.team-card {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: end;
    text-align: center;
width:100%;

}
.team-description {
    width:0%;
    position:relative;
    overflow:hidden;
}
.team-achievements {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.team-achievement {
    border:1px solid black;
    padding:20px;
}
.team-card:first-child {
    margin-left:0;
}
.team-image{
   height:100%;
    z-index:-1;
}
.profile-caption {
    position:absolute;
    bottom:10%;
    width:100%;
    text-align: center;
    background-color:rgba(255,255,255,.6);
    padding:20px 0px;
}
.team-name {
    padding:20px;
    background-color:rgba(255,255,255,90%);
}
.team-position {
    padding:7px 10px;
    font-size:.8em;
    background-color:rgba(255,255,255,50%);
}
#contact {
    margin: 5% auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:80%;

}
#contact-info, #contact-form {
    padding:20px;
    width:40%;
}
#contact-info p {
    width:80%;
}
#contact-content {
    height:70%;
}
#request-quote-button {
    height: 30%;
    display:flex;
    justify-content: center;
    text-align: center;
}
#request-quote-button h2 {
    padding:20px;
    margin: auto 0;
    border-radius:20px;
    border:1px solid black;
    background-color:mediumaquamarine;
}
#contact-form {
    position:relative;
}
#email {
    padding:10px;
    width:80%;
    border:none;
    border-bottom:1px solid black;
}
#subject {
    padding:10px;
    width:80%;
    border:none;
    border-bottom:1px solid black;

}
#message {
    padding:10px;
    width:80%;
    height:100px;
    border-bottom:1px solid black;

}
#submit {
    padding:10px;
    width:80%;
    border:1px solid black;
    background-color:white;
    margin-top:10px;
    margin-bottom:10px;
}
#contact-form p {
    font-size: .8em;
    padding:10px 0px;
}
/* START W3SCHOOLS ACCORDIAN */
.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height:60px;
    border:none;
    border-bottom: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: orange;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0px 18px;
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    border-bottom:1px solid black;

}
/* END W3SCHOOLS ACCORDIAN */
.categories {
    width:70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 75px;
    grid-column-gap: 100px;
    padding:70px 0px;
    margin: 0 auto;
}
.category-top {
    position:relative;
    height:100%;
}
.category {
    border:1px solid black;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 1em;
    font-weight:bold;
    border-radius: 5px;
    height:100%;
}
.category-image {
    width:100%;
    height:100%;
}
.category-title {
    position:absolute;
    bottom:0px;
    left:0;
    z-index:1;
    background-color:rgba(255, 165, 0,.3);
    border-top-right-radius: 20px;
    padding:5px 15px;
    color:white;

}
.category-text {
    padding:20px;
    font-size: .8em;
}
#partner {
    display:grid;
    padding:80px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    width:80%;
    margin-left:auto;
    margin-right:auto;

}
.index {
    padding: 10px 40px !important;
}
.partner-logo {
width:80%;
    padding:40px;
    margin-left:auto;
    margin-right:auto;
}
.partner-logo img {
    width:100%;
}
.partner-description {
    width:80%;
    padding:20px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.partner-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.notice {
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
}
.notice-content {
    width:70%;
margin-left:auto;
    margin-right:auto;
    font-size:1.2em;
}
.information {
    margin-top:40px;
    margin-bottom:40px;
}

.information-content {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding: 50px;
    font-size:1.1em;
}
@media only screen and (max-width: 1024px) {
    #intro {
        width: min(400px, 70%);
    }
    #contact {
        flex-direction:column-reverse;

    }
    #contact-info, #contact-form {
        padding:20px;
        width:80%;
        margin: 0px auto;
    }
    #contact-info p {
        width:80%;
    }
    #contact-content {
        height:70%;
    }
    #team {
        display:flex;
        flex-direction: column;
    }
    .team-content {
        flex-direction:column;
        justify-content: center;
        text-align: center;
        width:100%;
    }
    .team-card {
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        height:100%;
    }
    .team-description {
        position:relative;
        height:500px;
        width:100%;
    }
    .team-achievements {
        position:relative;
        top:auto;
      left:auto;
        transform: none;
        height:auto;
        margin-top:20px;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .team-achievements:nth-child(3) {

    }
    .services-text {
        width:100%;

    }

}